.pageRow {
  text-align: center;
}

.pagination {
  display: inline-block;
}

.pagination li {
  color: black;
  float: left;
  padding: 8px 16px;
  list-style: none;
  cursor: pointer;
}

.pagination li.active span {
  border: 4px solid #00e8e4;
  border-radius: 40px;
  background-color: #116193 !important;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #00e8e4;
  font-weight: bold;
  cursor: pointer;
}
